doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title HTTP Activity
    meta(name='description', content='Validates ExactTarget Journey Builder config.js files for Custom Activities and Custom Triggers')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  body!= body
    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.

    //- Add your site or application content here
    div.CONTAINER
        h1.centered= title
        p.centered
            if errorMessage
                strong= errorMessage
            else
                strong ExactTarget Journey Builder Custom Trigger and Custom Activity Example 
        hr
        block content
